@model ComidaPaLlevar.Models.LoginModel
<style>
    #form-login .field-validation-error {
        color: red;
        font-size: 10px
    }
</style>
@using (Html.BeginForm("PartialLoginUsuario","Usuarios",FormMethod.Post,new { @class="form-inline",@id="form-login", @role="form" }))
{
    @Html.ValidationSummary(true)
    <div id="contentLoginHeader">
        <label>Accede a tu cuenta: </label>
        <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">Email</label>
            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @class = "form-control" })<br />
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="form-group">
            <label class="sr-only" for="exampleInputPassword2">Password</label>
            @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @class = "form-control" })<br />
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <button type="submit" class="btn btn-default">Entrar <span class="glyphicon glyphicon-log-in"></span></button>
    </div>
}

