<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComoEnCasa</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/fonts/oswald-bold/stylesheet.css" rel="stylesheet" />
    <link href="~/Content/Layout.css" rel="stylesheet" />

</head>
<body style="padding-top:0px;">
    <header class="page-header">
        <div class="container body-content">
            <div style="float:right; margin-top:20px;">
                @if (Session["UsuarioLogueado"] == null)
                {
                    Html.RenderPartial("../Usuarios/PartialLoginUsuario", new ComidaPaLlevar.Models.LoginModel());
                }
                else
                {
                    ComidaPallevar.Domain.Usuarios usuario = (ComidaPallevar.Domain.Usuarios)Session["UsuarioLogueado"];
                    <span>Hola @usuario.Nombre -- </span>@Html.ActionLink("Cerrar sesión", "LogOut", "Usuarios")
                    <br />
                    <a style="text-decoration: none; font-weight: bold; font-size: 26px;" href="~/Menu/">Ver menú del día</a>
                }
            </div>
            <h1 style="font-family: 'oswaldbold';"><a style="color:white; text-decoration:none;" href="~/Home/">ComoEnCasa</a></h1>
            <label>Disponible sólo en la capital de Puebla</label>
        </div>               
    </header>

    <div class="container body-content">
        
        @RenderBody()        
        <footer style="text-align:center; font-style:italic; clear:both;">
            <hr />
            <div class="fb-like" data-href="http://www.comoenksa.com/" data-layout="button" data-action="recommend" data-show-faces="true" data-share="true"></div>
            <br/><br />
            <p style="font-weight:bold;">&copy; @DateTime.Now.Year - Desarrollado e impulsado por Novatek</p>
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&appId=243456835703577&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
